<section id="about-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><a name="about">About</a></h1>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-3">
      </div>

      <div class="col-xs-6 nav-links">
        <p class="text-center">Hi I'm a full stack developer currently working with Javascript and Ruby.  I find functional languages very interesting, and have taken the dive to start learning Haskell.  Feel free to checkout my <a href="#portfolio">portfolio</a> or <a href="#contact">contact</a> me.</p>
      </div>

      <div class="col-xs-3">
      </div>
    </div>
  </div>
</section>