<div class="row" id="header">
  <div class="col-xs-12 col-sm-7">
    <h1>Luke Schoettinger</h1>
    <h2>Developer</h2>
  </div>


  <div class="col-xs-12 col-sm-5">
    <nav id="nav-links">
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#skills">Skills</a>
      <a>Blog</a>
      <a href="#contact">Contact</a>
    <nav>
  </div>

</div>