// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  font-family: cooper;
}

#portfolio-section {
  h1 {
    margin-bottom: 25px;
    font-family: cooper;
  }

  h1 a {
    text-decoration: none;
    color: black;
  }

  .project-links {
    margin-top: 45px;
  }

  #tag-form {
  margin-bottom: 50px;
}
  .project-title {
    text-align: center;
  }


  .project-description {
    text-align: center;
  }


  p {
    text-align: center;

  }

  p.label {
    color: black;
    margin-right: 5px;
    font-size: 16px;
    display: inline-block;
  }

  

  #github-url, #production-url {
    word-wrap: break-word;
    width: 10px;
    font-size: 16px;
  }

  .col-md-4 {
    padding: 10px;
  }

  .project {

    border: solid 2px black;  
    padding: 10px;
    border-radius: 5px;
    height: 600px;

    .project-image {
      margin-left: 20px;
    }
  }
}

#skills {
  margin-top: 300px;
  margin-bottom: 300px;

  h1 {
    margin-bottom: 25px;
    font-family: cooper;
  }

  h1 a {
    text-decoration: none;
    color: black;
  }
}

#contact {
  margin-top: 500px;

  h1 {
    margin-bottom: 25px;
    font-family: cooper;
  }

  h1 a {
    text-decoration: none;
    color: black;
  }
}

#about {
  margin-bottom: 300px;

  h1 {
    font-family: cooper;
  }

  h1 a {
    text-decoration: none;
    color: black;
  }
}




#header {
  
  margin-bottom: 150px;

  h1 {
    font-family: cooper;
    font-size: 50px;
  }

  h2 {
    font-family: cooper;
  }

  a {
    font-family: cooper;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
  }

  a:hover {
    color: #475a77;
  }
  
}



